<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringCloudGoods:war exploded">
    <output-path>$PROJECT_DIR$/../../ideaProject/SpringCloudGoods/target/SpringCloud-Goods</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringCloudGoods" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.cloud:spring-cloud-starter-eureka-server:unknown" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../../ideaProject/SpringCloudGoods/target/SpringCloud-Goods/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringCloudGoods/web/Web" />
    </root>
  </artifact>
</component>